* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 14px;
}

body {
  margin: 0;
  padding-top: 35px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    background-color: lawngreen;
  }
}
