#app {
  .board {
    background-color: lightgray;
    border-radius: 5px;
    table {
      border: 5px solid #00000055;
      border-radius: 5px;

      tbody {
        display: flex;
        margin: 0;
        padding: 0;
        tr {
          &.border-right {
            border-right: 1px solid #00000052;
          }
          &.border-right-bold {
            border-right: 3px solid #0000009b;
          }

          td {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 24px;

            &.affected {
              background-color: #14635d39;
            }
            &.border-bottom {
              border-bottom: 1px solid #00000052;
            }
            &.border-bottom-bold {
              border-bottom: 3px solid #0000009b;
            }
            &:hover {
              background-color: #61614a30;
            }
            &.selected {
              background-color: #0e3b373e;
            }
          }
        }
      }
    }
  }
}
