#app {
  .board {
    // background-color: lightgray;
    border-radius: 5px;
    margin: 5px;
    table {
      border: 5px solid #00000055;
      border-radius: 5px;

      tbody {
        display: flex;
        margin: 0;
        padding: 0;
        tr {
          z-index: 0;
          &.border-right {
            border-right: 1px solid #8d8d8d;
          }
          &.border-right-bold {
            border-right: 3px solid #00000066;
          }

          td {
            z-index: 1;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 32px;
            color: #0072e3;

            &.similar {
              background-color: #c3d7ea;
            }
            &.constant {
              color: #344861;
            }
            &.red {
              color: red;
            }
            &.affected {
              background-color: #e2ebf3;
            }
            &.border-bottom {
              border-bottom: 1px solid #8d8d8d;
            }
            &.border-bottom-bold {
              border-bottom: 3px solid #00000066;
            }
            &.selected {
              background-color: #bbdefb;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #app {
    .board {
      table {
        tbody {
          tr {
            z-index: 0;
            &.border-right {
            }
            &.border-right-bold {
            }

            td {
              width: 35px;
              height: 35px;

              &.similar {
              }
              &.constant {
              }
              &.red {
              }
              &.affected {
              }
              &.border-bottom {
              }
              &.border-bottom-bold {
              }

              &.selected {
              }
            }
          }
        }
      }
    }
  }
}
