#app {
  .numbers {
    width: 200px;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        button {
          font-size: 32px;
          width: 80px;
          height: 80px;
          border: none;
          background-color: lavender;
          cursor: pointer;
          padding: 5px;
          margin: 3px;
          border-radius: 5px;

          &:hover {
            background-color: rgb(102, 102, 106);
            color: wheat;
          }
        }
      }
    }
  }
}
